<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">Shree Institute of Technology Engineering</h4>
                                <ul>
                                    <li> Shree devi institute of technology(Affilated to VTU)  in Karnataka </li>
                                        <li>Completed B.E in Computer Engineering with <b>7.4 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014-2016</p>
                        <div class="h5">PUC</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Pre-University Collage</div>
                            <h4 class="category">Hassan PU Collage Arakalgud</h4>
                            <ul>
                                    <li>Completed  <b>PUC</b> in <b>PCMB</b> with <b>75%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2014</p>
                        <div class="h5">SSLC</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">SSLC</div>
                                <h4 class="category">GBJC Arakalgud</h4>
                                <ul>
                                        <li>Completed <b>SSLC</b> with <b>65% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>                                               